.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px;
}
.block{
    background-color: blueviolet;
    margin: 10px;
    width: 100px;
    height: 100px;
}